.vh-10 {
    height: 10vh;
}

.vh-20 {
    height: 20vh;
}

.vh-30 {
    height: 30vh;
}

/* .vw-10 {
    height: 10vh;
} */

.mh-70 {
    max-height: 70vh;
}

.w-10 {
    width: 10vw;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

.circle {
    border-radius: 50%;
}

.border-none {
    border: none;
}
