{% extends "layouts/layout.html" %}

{% block content %}
    <div class="login">
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Upload</legend>
                <div class="login-text">
                    {{ form.title }}
                    <span></span>
                    {{ form.title.label }}
                </div>
                <div class="login-text">
                    {{ form.description }}
                    <span></span>
                    {{ form.description.label }}
                </div>
                <div class="file-upload">
                    {{ form.video.label }}
                    {{ form.video }}
                </div>
            </fieldset>
            <div>
                {{ form.submit(class="login-submit") }}
            </div>
        </form>
    </div>
{% endblock %}