{% extends "layouts/layout.html" %}

{% block content %}
    <main>
        <div class="container">
            <form method="POST" class="mt-5" enctype="multipart/form-data" novalidate>
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend class="mb-3">New Article</legend>
                    <div class="mb-3">
                        {{ form.title(placeholder="Title", class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.content(placeholder="Content", class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.photos.label }}
                        {{ form.photos(autocomplete="off") }}
                        <span>{{ ', '.join(form.photos.errors) }}</span>
                    </div>
                    <div class="mb-3">
                        {{ form.videos.label }}
                        {{ form.videos(autocomplete="off") }}
                        <span>{{ ', '.join(form.videos.errors) }}</span>
                    </div>
                </fieldset>

                <div>
                    {{ form.post(class="btn btn-primary") }}
                    {{ form.draft(class="btn btn-secondary") }}
                </div>
            </form>
        </div>
    </main>
{% endblock %}
