{% extends "layouts/layout.html" %}

{% block content %}
    <div class="container">
        <div class="profile">
            <div class="profile-header">
                <img src="{{ url_for('static', filename=user.image) }}" class="profile-picture" />
                <h1 class="profile-name">{{ user.username }}</h1>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Edit Profile</div>
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                            <fieldset>
                                <div class="mb-3">
                                    {{ form.username(value=user.username, class="form-control") }}
                                </div>
                                <div class="mb-3">
                                    {{ form.email(value=user.email, class="form-control") }}
                                </div>
                                <div class="mb-3">
                                    {{ form.image.label }}
                                    {{ form.image(value=url_for('static', filename=user.image)) }}
                                </div>
                            </fieldset>

                            <div>
                                {{ form.submit(class="btn btn-primary") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
