{% extends "layouts/layout.html" %}

{% block content %}
    <div class="container">
        <main class="mt-4">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card text-center">
                        <div class="card-header"><h2 class="mb-0">{{ user.username }}</h2></div>
                        <div class="card-body">
                            <div class="text-center">
                                <img src="{{ url_for('static', filename=user.image) }}" alt="avatar" class="circle mb-3 vh-10 vw-10" />
                                <div class="row mb-0">
                                    <div class="col">
                                        <p class="mb-0">{{ articles.count() }}</p>
                                        <p class="mb-0">Articles</p>
                                    </div>
                                    <div class="col">
                                        <p class="mb-0">{{ user.followers.count() }}</p>
                                        <p class="mb-0">Followers</p>
                                    </div>
                                    <div class="col">
                                        <p class="mb-0">{{ user.followed.count() }}</p>
                                        <p class="mb-0">Following</p>
                                    </div>
                                </div>
                                {% if current_user.id != user.id %}
                                    <div class="row text-center mt-3">
                                        <div class="col">
                                            <form action="" method="POST">
                                                {% if not current_user.is_following(user) %}
                                                    {{ follow_form.submit(class="btn-sm btn-primary") }}
                                                {% else %}
                                                    {{ follow_form.submit(class="btn-sm btn-primary", value="Unfollow") }}
                                                {% endif %}
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header text-center"><h4 class="mb-0">Articles</h4></div>
                        <div class="card-body">
                            {% if articles.all()|length > 0 %}
                                <div class="row text-center border-bottom">
                                    <div class="col-lg-10 border-end"><p class="mb-0">Title</p></div>
                                    <div class="col"><p class="mb-0">Date Posted</p></div>
                                </div>
                                {% for article in articles %}
                                    <div class="row">
                                        <div class="col-lg-10 border-end pt-2">
                                            <span class="align-middle">{{ article.id }}. "<a href="{{ url_for('articles.article', article_id=article.id) }}">{{ article.title }}</a>"</span>
                                        </div>
                                        <div class="col text-center pt-2">
                                            <span>{{ article.date_posted.strftime('%b.%d.%Y') }}</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p class="mb-0">No articles found.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}