{% extends 'layouts/layout.html' %}

{% block content %}
    <div class="container">
        <div class="card mt-5">
            <div class="card-header">
                <h3>Chats</h3>
            </div>
            <div class="card-body p-0">
                <ul class="mb-4">
                    {% for chat in chat_list %}
                        {% if chat.chat_users.all()|length == 2 %}
                            <div class="mt-4">
                                <a href="{{ url_for('chats.chat', chat_id=chat.id) }}" class="text-decoration-none">
                                    {% for user in chat.chat_users %}
                                        {% if user.id != current_user.id %}
                                            <div class="d-inline-block" style="height: 7vw; width: 7vw;">
                                                <img class="h-100 w-100 rounded-circle" src="{{ url_for('static', filename=user.image) }}">
                                            </div>
                                            {{ user.username }}
                                        {% endif %}
                                    {% endfor %}
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
