{% extends "layouts/layout.html" %}

{% block content %}
    <div class="container">
        {% if videos|length > 0 %}
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for video in videos %}
                    <div class="col">
                        <div class="card h-100">
                            <video class="card-img-top">
                                <source src="{{ url_for('static', filename=video.video) }}">
                            </video>
                            <div class="card-body">
                                <h5>{{ video.title }}</h5>
                                <p>{{ video.views }} views</p>
                                <p>{{ video.date_posted }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h6>No articles found :(</h6>
        {% endif %}
    </div>
{% endblock %}
